/* Style formatting to enhance the appearance of the user interfaces.
   Used separate CSS files as there is similarity in the file formatting.*/

h1 {
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
}

h2,h4 {
    text-align: left;
    margin-bottom: 0;
}

input[type=submit] {
  /*By default, makes all the buttons pink. Else, colour-codes them to their respective option colours on the Home page.*/
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: initial;
}

/* Colour Code for Search Functionality. */
.orange{
  background-color: darkorange;
  width:25%;
}

  /* Colour Code for Buyer Home Functionality. */
.green{
  background-color: green;
}

input[type=submit]:hover {
  background-color: black;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 50px 50px 50px;
  font-size: 20px;
  text-align: center;
}
a {
    font-size: 20px;   
}

a.button {
    float: right;
}

th, td{
    text-align: center;
}
.address {
  text-align: left !important;
}